$theme-colors: (
  "primary":    #060300,
  "secondary":  #cbae51,
  "tertiary":  #f7eee5
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$position-values: (
  0: 0,
  15: 15%,
  25: 25%,
  30: 30%,
  50: 50%,
  75: 75%,
  100: 100%
);

$utilities: (
  "overflow": (
    responsive: true,
    property: overflow,
    values: visible hidden scroll auto,
  ),
  "height": (
    property: height,
    class: h,
    values: (
      15: 15%,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
  "width": (
  property: width,
  class: w,
  values: (
    20: 20%,
    25: 25%,
    45: 45%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  )
),
);



@import 'bootstrap/scss/bootstrap.scss';
